$fuente: 'Segoe UI', sans-serif;
$colorFuenteEncabezado:white;
$colorFondoEncabezado:#2D2B36;
$colorFondoGradienteEncabezado: linear-gradient(127deg, rgba(1,9,252,1) 35%, rgba(12,149,255,1) 100%);
$colorSombras:0px 3px 6px rgba(0, 0, 0, 0.451);
$bordeCerrarSesión: 1px solid #FB3C4F;
$colorBotonEliminar: rgb(255, 139, 139);
$colorForm: rgba(255, 255, 255, 0.5);
$colorTextoInput: #605A77;
$colorGradienteTarjetas:linear-gradient(to right,#17232470,#17232470);
$size-padding:5%;
html{
    display: block;
    z-index: -2;
    width: 100vw;
    height: auto;
    padding: 0%;
    margin: 0%;
    border: 0px;
    overflow: hidden;
}
body{
    display: block;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    border: 0px;
}
.fondoPantalla{
    z-index: -1;
    position: fixed;
    display: block;
    top: 30px;
        width: 100vw;
        height: 100%;
        padding: 0%;
        margin: 0%;
        background-image: url("../img/james-sullivan-ESZRBtkQ_f8-unsplash.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: blur(2px);
        filter: brightness(60%);
        overflow: hidden;
}
#contenedorPrincipal{
    display: grid;
}
.mayus{
    text-transform: uppercase;
}
#headerPrincipal{
    position: fixed;
    top: 0px;
    z-index: 7;
    display: grid;
    grid-template-columns: auto 60px;
    background:$colorFondoEncabezado;
    background: $colorFondoGradienteEncabezado;
    color: $colorFuenteEncabezado;
    font-family: $fuente;
    height: 60px;
    width: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-shadow:$colorSombras;
    h1{
        font-size: 20px;
        padding-left: 25px;
        margin: 0px;
    }
    #imgUserHeader{
        align-self: top;
        justify-self: center;
        background-image: url("../img/user.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        box-shadow:$colorSombras;
        margin-top:10px;
    }
}
#encabezadoBotones{
    position: fixed;
    top: 0px;
    z-index: 100;
    display: grid;
    grid-template-columns: 50px auto 50px 70px;
    background:$colorFondoEncabezado;
    //background: $colorFondoGradienteEncabezado;
    color:$colorFuenteEncabezado;
    font-family:$fuente;
    height: 50px;
    width: 100vw;
    border: 0px;
    padding: 0px;
    margin: 0px;
    border-bottom: $colorSombras;
    #titulo{
        height: auto;
        margin: 0px;
        display: grid;
        align-content: center;
        font-size: 28px;
    }
    button{
        background-color: transparent;
        height: 50px;
        width: 100%;
        margin: 0px;
        border: 0px;
        padding: 0px;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
    }
    #regresar{
        justify-self: center;
        align-self: center;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        background-color: rgb(243, 243, 243);
        background-image: url("../img/LOGO_INGEXIS_Trans.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size:    40PX ;
        cursor: pointer;
    }
    #imgUsuarioLogin{
        justify-self: center;
        align-self: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: 0.5s;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #nombreUsuarioLogin{
        justify-self: start;
        align-self: center;
        color: #f2f2f2;
        text-align: start;

    }
    #menuNavegacion{
        display: grid;
        grid-template-columns: repeat(70px);
        grid-template-rows: 50px;
        justify-self: center;
        .item{
            grid-row: 1 / span 1;
            color:white;
            width: 70px;
            height: 50px;
            border-radius: 5px;
            background-position: center;
            background-size: 40px 40px;
            background-image: url("../img/menu.svg");
            background-repeat: no-repeat;
            
        }
        .item:hover{
            
            
            background-color: rgba(255, 255, 255, 0.219);
        }

    }

}
#tituloPag{
    z-index: 5;
    width: 100%;
    font-family: $fuente;
    font-size: 32px;
    font-weight: 500;
    color:rgb(255, 255, 255);
    margin: 0px;
    margin-bottom: 10px;
    padding-left: 5%;
    padding-top: 5px;
}
#contenedorBuscador{
    position: fixed;
    left: 5%;
    z-index: 2;
    display: grid;
    grid-template-columns: auto 42px;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    height: 50px;
    width: 90%;
    margin: 10px auto;
    font-family: $fuente;
    background-image: $colorGradienteTarjetas;
    #buscarEntrada{
        z-index: 2;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        background-image: url("../img/Lupa.svg");
        background-color:rgba(255, 255, 255, 0);
        color: whitesmoke;
        background-position: 0px 4px; /* Position the search icon */
        background-repeat: no-repeat;
        width: auto; /* Full-width */
        height: 37px;
        font-size: 16px; /* Increase font-size */
        padding: 0px; /* Add some padding */
        margin: 1% 8px;
        padding-left: 25px;
        border: 2px solid rgba(255, 255, 255, 0.6);
        border-radius: 2px;
    }
    
    #opciones{
        z-index: 2;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        width: 100%;
        height:100%;
        padding: 0px;
        border:0px;
        background-color: transparent;
        background-image: url("../img/opcionesClose.svg");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
    }
    
}
#contenedorOpciones{
    position: fixed;    
    width: 90%;
    margin: 0px auto;
    left: 5%;
    z-index: 4;
    top:115px;
    display: grid;
    grid-auto-rows: auto;
    background-image: $colorGradienteTarjetas;
    div{
        display: grid;
        grid-template-columns: 28px auto;
        height: auto;
        text-decoration: none;
        color: whitesmoke;
        font-family: $fuente;
        .icoMenu{
            width: 100%;
            height:100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 15px 15px;
        }
        p{
            margin: 0px;
            padding-left: 2px;
            height: 28px;
            padding-top: 3px;
            font-weight: 500;
        }
        #filtrado{
            margin-top: -5px;
            grid-column: 2/3;
            display:grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 33px 33px;
            width: 100%;
            font-weight: 200;
            div{
                display: grid;
                align-items: center;
                p{
                    font-weight: 300; 
                    padding-left: 0px;
                }
                input{
                    justify-self: center;
                    align-self: center;
                }
            }
        }
    }
    .itemMenu:hover{
        background-color: rgba(70, 70, 70, 0.452);
        box-shadow: $colorSombras;
    }
}
.sombra{
    -webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.46);
    box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.46);
}

.desenfoque{
    display: grid;
    z-index: 1;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    background-image: $colorGradienteTarjetas;
    backdrop-filter:  blur(50px);
    -webkit-backdrop-filter:blur(50px);
    border-radius: 0px;
}
#oscuro{
    z-index: 2;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.144);
}
#contenedorPrincipal{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    z-index: 2;
    width: 100%;
    top: 145px;
    display: grid;
    grid-template-rows: 60px 60px 60px 60px 1fr  ;
    row-gap: 10px;
    justify-items: center;
    margin:0%;
    margin-top: 30px;
    .principal{
        border:0px;
        z-index: 1;
        grid-column: 1 / span 1;
        color: white;
        font-family: 'Segoe UI', sans-serif;
        font-size: 20px;
        font-weight: bold;
        height: 53px;
        width: 302px;
        background-image: linear-gradient(to right,#0109FC,#0D86F7,#0D86F7, #07F3EC);
        margin: 10px;
        text-align: left;
        padding-left: 20px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.16);
    }
    #bClientes{
        grid-row: 1 / span 1;
    }
    #bObras{
        grid-row: 2 / span 1;
    }
    #bUsuarios{
        grid-row: 3 / span 1;
    }
    #bReportes{
        grid-row:  4/span 1;
    }
    #cerrarSesion {
        z-index: 1;
        grid-column: 1 / span 1;
        grid-row:  5 / span 1;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: #FB3C4F;
        height: 53px;
        width: 302px;
        border: 0px;
        border-radius: 10px;   
        background-color: white;
        border: 1px solid #FB3C4F ;   
        margin: 10px;
        margin-top: 50px;
        margin-bottom: 5%;;
        padding-left: 20px;
        box-shadow:0px 3px 6px rgba(0, 0, 0, 0.451);
    }
}
.botonesEliminarImprimer{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.footerImprimir_Boton {
    justify-self: center;
    align-self: center;
    border:0px;
    text-align: center;
    font-family:'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: blue;
    width: 145px;
    height: 25px;
    border-radius: 5px; 
    background-color: #8682FF;
    margin: 10%;
    box-shadow:0px 3px 6px rgba(80, 6, 6, 0.451);       
}
#footerGuardar_Boton {
    display:none;
    justify-self: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    color: rgba(255,255,255,1);
    width: 314px;
    height: 57px;
    border: 0px;
    border-radius: 20px;   
    background-image: linear-gradient(to right,#0109FC, #0A92FC);    
    margin: 20px 20px;
    box-shadow:0px 3px 6px rgba(12, 19, 255, 0.451);
}
.footerEliminar_Boton {
    justify-self: center;
    align-self: center;
    border:0px;
    text-align: center;
    font-family: $fuente;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: red;
    width: 145px;
    height: 25px;
    border-radius: 5px; 
    background-color: $colorBotonEliminar;
    margin: 10%;
    box-shadow:0px 3px 6px rgba(80, 6, 6, 0.451);       
}
.tarjetaBlanca{
    z-index: 6;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px;
    grid-auto-rows: 40px;
    max-width: 600px;
    min-width: 300px;
    width: auto;
    height: auto;
    justify-content: stretch;
    justify-items: stretch;
    align-content: stretch;
    font-family: $fuente;
    box-shadow: $colorSombras;
    background-image: $colorGradienteTarjetas;
    backdrop-filter:  blur(50px);
    -webkit-backdrop-filter:blur(50px);
    color: rgba(255, 255, 255, 0);
    margin-top: 25px;
    .tituloPagina{
        margin: 10px auto;
        color: #575757;
    }
    .subtituloPagina{
        margin: 10px auto;
        color: #848484;
    }
    .titulo{
        z-index: 5;
        width: 100%;
        font-family: $fuente;
        font-size: 24px;
        font-weight: 500;
        color:rgb(255, 255, 255);
        margin: 0px;
        margin-bottom: 10px;
        padding-left: 0px;
        padding-top: 5px;
    }
    input{
        z-index: 5;
        pointer-events: none;
        border:0px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.719);
        width: 100%;
        font-family: $fuente;
        font-size: 20px;
        color: white;
        margin-bottom: 1px;
        background-color: transparent;
        padding: 0px;
    }
    input::placeholder {
        color: white;
        opacity: 1; /* Firefox */
    }
    select{
        pointer-events: none;
        border:0px;
        border-bottom: 2px solid $colorForm;
        width: 100%;
        font-family: $fuente;
        font-weight: 500;
        color: white;
        margin-bottom: 1px;
        text-align: center;
        option{
            text-align: center;
        }
    }
    .registro{
        pointer-events: auto !important;
        background-color: rgba(66, 66, 66, 0.513) !important;
        border-bottom: 2px solid $colorForm;

    }
    .textoAyuda{
        z-index: 4;
        font-family: $fuente;
        font-size: 14px;
        font-weight: 300;
        color: $colorForm;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    #descripcion{
        font-family: $fuente;
        width: 100%;
        height: 100px;
        padding: 10px 20px;
        box-sizing: border-box;
        font-size: 13px;
        resize: none;
        border: 0px;
    }
    .inputEnLinea{
        z-index: 4;
        color: whitesmoke;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap:5px;
    }
    .inputBoton{
        display: grid;
        grid-template-columns:auto 40px ;
        grid-template-rows: auto auto;
    }
    .botonInfo{
        grid-row: 1 / span2;
        grid-column: 2 /span 1;
        background-color: transparent;
        border: 0px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    #telefono{
        background-image: url("../img/telgris.svg");
        background-repeat:no-repeat;
        background-position: right;
        
    }
    #correo{
        background-image: url("../img/emailGris.svg");
        background-repeat:no-repeat;
        background-position: right;
        
    }
    #password{
        background-image: url("../img/llave.svg");
        background-repeat:no-repeat;
        background-position: right;
    }
    .tituloBoton{
        align-self: center;
        height: 21px;
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        background-color: rgba(255, 255, 255, 0.719);
        border:0px;
        color:#3100FF;
        font-size: 13px;
        border-radius: 10px;
        box-shadow: $colorSombras;
    }
}
textarea:focus, input:focus{
    outline: none;
}
#tituloContenedor{

    align-self: center;
    display: grid;
    width: 100%;
    height: 300px;
    grid-template-columns: auto;
    grid-template-rows: 1fr 50px;
    justify-items: center;
    font-family: $fuente;
    color: $colorFuenteEncabezado;
   


    #editarImagen{
        grid-column: 1 / span 1;
        grid-row: 1 / span 3;
        width: 100%;
        max-width: 100%;
        height: 100%;
        display:grid;
        grid-template-columns:50px 1fr  50px;
        grid-template-rows: 50px  50px 1fr;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-origin: border-box;

        #imgBack{
            justify-self: center;
            align-self: center;
            grid-column: 1/ span 3;
            grid-row: 1 / span 3;
            width: 100%;
            height: 100%;
            max-width: 500px;
            z-index: 3;
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            background-origin: border-box;
        }
    

        #botonEditar{
            width: 35px;
            height: 35px;
            border:none;
            margin: 5px;
            padding: 10px;

            grid-column: 1/ span 1;
            grid-row: 1 / span 1;
            z-index: 4;
            background-color: rgba(22, 22, 22, 0.76);
            box-shadow: $colorSombras;
            background-image: url("../img/icoEdit.svg");
            background-repeat: no-repeat;
            background-size: 30px 25px;
            background-position: center;
            padding: 0px;
            cursor: pointer;
            border-radius: 5px;

           
            
        }
        #botonEditar:hover{
                background-color: rgba(1, 9, 252, 0.76);

            
        }
        #botonEliminar{
            width: 35px;
            height: 35px;
            border:none;
            margin: 5px;
            padding: 10px;

            grid-column: 3/ span 1;
            grid-row: 1 / span 1;
            z-index: 4;
            background-color: rgba(22, 22, 22, 0.76);
            box-shadow: $colorSombras;
            background-image: url("../img/icoDelete.svg");
            background-repeat: no-repeat;
            background-size: 30px 25px;
            background-position: center;
            padding: 0px;
            cursor: pointer;
            border-radius: 5px;
        }
        #botonEliminar:hover{
            content: "Eliminar";
            background-color: rgba(246, 59, 59, 0.75);
        }
        #botonCancelar{
            width: 35px;
            height: 35px;
            border:none;
            margin: 5px;
            padding: 10px;

            grid-column: 1/ span 1;
            grid-row: 1 / span 1;
            z-index: 4;
            background-color: rgba(22, 22, 22, 0.76);
            box-shadow: $colorSombras;
            background-image: url("../img/close.svg");
            background-repeat: no-repeat;
            background-size: 40px;
            background-position: center;
            padding: 0px;
            cursor: pointer;
            border:none;
            border-radius: 5px;
        }


      
        .inputImg{
            display: none;
        }
        label{

            width: 50px;
            grid-column: 1/ span 1;
            grid-row: 2 / span 1;
            z-index: 4;
            background-image: url("../img/upImg.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 0px;
            cursor: pointer;
        }

       
        // div{
        //     grid-column: 1/ span 3;
        //     grid-row: 1 / span 3;
        //     width: 100%; 
        //     height: 100%;
        //     background-size: cover;
        //     background-position: center;
        //     border:0px;
        // }


    }

    #tituloImagen{
        z-index: 4;
        grid-column: 1 / span 1;
        grid-row: 1 / 3;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    #tituloInfo{
        z-index: 5;
        color: white;
        text-shadow: $colorSombras;
        background-color: transparent;
        border: 0px;;
        grid-column: 1 / span 1;
        justify-self: center;
        align-self: center;
        grid-row: 2 / span 1;
        width: 100%;
        text-align: center;
        font-size: 32px;
        margin: 0px;
    }
    .tituloBoton{
        align-self: center;
        height: 21px;
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        background-color: rgba(255, 255, 255, 0.719);
        border:0px;
        color:#3100FF;
        font-size: 13px;
        border-radius: 10px;
        box-shadow: $colorSombras;
        margin: 0px;
        color: white;
    }
    .registro{
        pointer-events: auto !important;
        background-color: rgba(66, 66, 66, 0.513) !important;
        border-bottom: 2px solid $colorForm;

    }
    .inputTexto{
        pointer-events: none;
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        border:0px;
        width: 100%;
        text-align: center;
        font-family: $fuente;
        font-weight: 600;
        font-size: 27px;
        color:#2f303a;
        margin-bottom: 1px;
        background-color: rgba(54, 54, 54, 0.349);
        backdrop-filter:  blur(50px);
        -webkit-backdrop-filter:blur(50px);
        
        padding-bottom: 7px;
        box-shadow: $colorSombras;
      

    }
    .textoAyuda{
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
        font-family: $fuente;
        font-size: 18px;
        color: white;
        margin-top: 1px;
        text-shadow: 2px 2px 4px #000000;

    }
}
.btnImgRegistro{
    width:100% !important;
     grid-column: 1/ span 3 !important;
     grid-row: 1 / span 3 !important;
    background-image: url("../img/regImg.svg") !important;
   background-repeat: no-repeat !important;
    background-size: 220px 220px !important;
    background-position: top !important;
    border-radius: 10px;
}
.contenedorTarjetaUsuario{
    display: grid;
    grid-template-columns: 80px 1fr 50px ;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    height: 100px;
    margin: 10px auto;
    padding: 5px;
    font-family: $fuente;
    background-image: $colorGradienteTarjetas;
    backdrop-filter:  blur(50px);
    -webkit-backdrop-filter:blur(50px);
    border-radius: 0px;
    box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.46);
    a{
    z-index: 2;
    text-decoration: none;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    width: auto;
    height: auto;
    top:auto;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 50px 50px;


        align-content: center;
        justify-content: center;
        justify-items: center;
        padding-bottom: 5px;
    }
    .imgUsuario{
        align-self: center;
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        background-image: url("../img/user.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 80px;
        width: 80px;
        margin-left: 45px;
        margin-top: 5px;
        border-radius: 50%;
        box-shadow:$colorSombras;
    }
    .tituloTarjetaUsuario{
        align-self: flex-end;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        height: 24px;
        width: 100%;
        height: auto;
        margin: 0px;
        margin-left: 70px;
        padding-left: 10px;
        color: white;
        font-size: 24px;
    }
    .subtituloTarjetaUsuario{
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        height: auto;
        width: 100%;
        margin: 0px;
        margin-left: 70px;
        padding-left: 10px;
        color: rgb(189, 189, 189);
        font-size: 17px;
    }
    .subtitulosClientes{
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        display: grid;
        grid-template-rows: auto auto;
        align-content: flex-start;
        align-items: flex-start;
        justify-items: flex-start;
        height: 42px;
        width: 100%;
        margin: 0px;
        padding-left: 5px;
        color: rgb(206, 206, 206);
        font-size: 12px;
        h3{
            margin: 0px;;
        }
}
.botonInfo{
    padding: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    }
    #telefono{
        grid-row: 1 / span 1;
        grid-column: 3 /span 1;
        background-image: url("../img/ntelgris.svg");
        background-repeat: no-repeat;
        background-size: 48px 48px;
        background-position: 0px 5px;
        
    }
    #email{
    
        grid-row: 2 / span 1;
        grid-column: 3 /span 1;
        background-image: url("../img/nemailgris.svg");
        background-repeat: no-repeat;
        background-size: 48px 48px;
        background-position: 0px 2px;
    }
}
.tarjetaElemento{
    display: grid;
    grid-template-columns: 1fr 30px 30px ;
    grid-template-rows: 30px 50px 30px;
    width: 90%;
    min-width: 150px;
    height: 110px;
    margin: 10px auto;
    padding: 10px;
    font-family: $fuente;
    background-image: $colorGradienteTarjetas;
    backdrop-filter:  blur(50px);
    -webkit-backdrop-filter:blur(50px);
    border-radius: 0px;
    box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.46);


    .tituloElemento{
        align-self: flex-end;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        height: 24px;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding-left: 10px;
        color: white;
        font-size: 24px;
        align-self: center;
        justify-self: start;
    }
    .subtituloElemento{
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding-left: 10px;
        color: rgb(189, 189, 189);
        font-size: 12px;
    }

    .botonInfo{
    padding: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    }
    .botonEditar{
        grid-row: 1 / span 1;
        grid-column: 2 /span 1;
        background-image: url("../img/icoEdit.svg");
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: center;
        
    }
    .botonEliminar{
    
        grid-row: 1 / span 1;
        grid-column: 3 /span 1;
        background-image: url("../img/icoDelete.svg");
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: center;
    }
    .botonElemento{
        align-self: center;
        justify-self: end;
        height: 21px;
        padding: 2px;
        grid-column: 1 / span 3;
        grid-row: 3 / span 1;
        background-color: rgba(255, 255, 255, 0.87);
        border:0px;
        color:#3100FF;
        font-size: 12px;
        font-weight: 600;
        border-radius: 5px;
        box-shadow: $colorSombras;
        margin: 0px;
    }
}
#contenedorGridResponsivo{
    height: 85vh;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-auto-rows: 120px;
    overflow-y: scroll;
}
#elementosGridResponsivo{
    height: auto;
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    grid-auto-rows: 160px;
    overflow-y: scroll;
}
.contenedorCentradoResponsivo{
    margin-top: 50px;
    width: 100%;
    height: 95vh;
    display: grid;
    overflow-y:scroll;
}
::-webkit-scrollbar { 
    display: none; 
}
@media screen and (max-width:640px) {
    #divTarjetas{
        display: block;
    }
    #divInfo{
        display: none;
    }
    #divInfoElemento{
        display: none;
    }
    .contenedorPrincipal{
        margin-top: 80px;
        grid-gap: 15px;
    #cerrarSesion {
        margin-top: 170px;
        }
    }
    .contenedorCentradoResponsivo{
        margin-top: 50px;
        width: 100vw;
    }
    #tituloContenedor{
        margin-left: 0px;
        min-width: 100vw;
        width: 100vw;
        max-width: 100vw;
        padding-right:0px;
        padding-left: 0px;
        
        padding: 0px;
    }
    .tarjetaBlanca{
        margin-left: 0px;
        min-width: 100vw;
        width: 100vw;
        max-width: 100vw;
        padding-right:0px;
        padding-left: 0px;
        
        padding: 0px;
        .titulo{
            z-index: 5;
            width: 90%;
            font-family: $fuente;
            font-size: 27px;
            font-weight: 700;
            color:rgb(255, 255, 255);
            margin: 0px auto;
            margin-bottom: 10px;
            padding-left: 10px;
            padding-top: 5px;
        }
        input{
            
            width: 90%;
            height:100%;
            margin-left: auto;
            margin-right: auto;
            padding-left: 5px;
        }
        .textoAyuda{
            width: 90%;
            height: 100%;
            margin-left: 5%;
            margin-right: auto;
            font-size: 16px;
            
        }
        .inputEnLinea{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            
            input{
                width: 100%;
                height:100%;

            }
            .textoAyuda{
                width: 100%;
                height: 100%;  
            }
            
        }
        #tituloContenedor{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            align-content: center;
            

            #editarImagen{
                width: 100%;
                height: auto;
                grid-template-columns:1fr 60px;
                grid-template-rows: 60px 1fr;

            }
                 
            .textoAyudaTitulo{
                margin-top: 0px;
            }
            div{
                width: 90%;
            }
            input{
            
            width: 90%;
            

            }
        }
        

    }

  }
  #tituloBoton{
    align-self: center;
    height: 21px;
    background-color: rgba(255, 255, 255, 0.719);
    border:0px;
    color:#3100FF;
    font-size: 13px;
    border-radius: 10px;
    box-shadow: $colorSombras;
    margin: 10px auto;
}

.tarjetaBlCh_TejetaConCheck {
    width: 302px;
    height: 40px;
    left: 43.5px;
    top: 145px;
    overflow: visible;
    filter: drop-shadow(1px 2px 3px rgba(66, 66, 66, 0.246));
    background-color: rgba(254,254,255,1);
    border-radius: 5px 5px 5px 5px;
    border: 0px;
    overflow: hidden;
    /* ------------------------------ */
    display: grid;
    grid-auto-columns: 30px 230px 40px;
    grid-template-areas: 'btnCheck textt img';
    justify-content: start;
    justify-items: start;
}
/* ============================================================================================ */
.tarjetaBlCh_texto{
    grid-area: textt;
    padding: 5px;
}
.tarjetaBlCh_Obra_1 {
    /* left: 28.5px;
    top: 8px; */
    overflow: visible;
    width: 36px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(0,0,0,1);
}
.Direcci_n_de_la_obra___Cliente {
    left: 28.5px;
    top: 20px;
    overflow: visible;
    width: 117px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    color: rgba(87,87,87,1);
}
.tarjetaBlCh_imgUserHeader{
    /* ----------- */
    grid-area: img;
    /* ----------- */
    align-self: center;
    justify-self: center;
    background-image: url("../img/user.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow:0px 3px 6px rgba(0, 0, 0, 0.451);
}
/* ======================================================== */
.tarjetaBlCh_round label {       
    grid-area: btnCheck; 
    position: absolute;
    background-color: #fff;
    border: 1.5px solid blue;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    width: 16px;
    left: 8.5px;
    top: 9px;
}

.tarjetaBlCh_round label:after {  
    grid-area: btnCheck;      
    position: absolute;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 3px;
    width: 6px;
    left: 4px;
    top: 4px;
    opacity: 0;
    transform: rotate(-45deg);
}

.tarjetaBlCh_round input[type="checkbox"] {
    grid-area: btnCheck;
    visibility: hidden;
}

.tarjetaBlCh_round input[type="checkbox"]:checked + label {
    grid-area: btnCheck;
    background-color: blue;
    border-color: blue;
}

.tarjetaBlCh_round input[type="checkbox"]:checked + label:after {
    grid-area: btnCheck;
    opacity: 1;
}
// ===============================================================

.CuadritoDeAbajo{
    width: 340px;
    height: 255px;
    display: grid;
    
    
    color: rgb(88, 88, 88);
    border: 2px gray;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    box-shadow: $colorSombras;
}
.tituloCuadritoAbajo{
    font-family: 'Segoe UI', sans-serif;
    font-size: 24px;
    margin: 5px;
    
}
.CentarCuadritoDeAbajo{
    justify-self: center;
    align-self: start;
    
}
.tarjetaBlCh_TarjetaConCheckDisplay{
    display: grid;
    grid-template-columns: 305px;
    grid-gap: 5px 5px;
    /* ============================= */
    width: 320px;
    height: 200px;
    overflow: auto;
}
// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
.centrar{
    display: grid;
    justify-items: center;
}
// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

#myNav{
    display: grid;
    height: 0%;
    width: 100%;
    position:absolute; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0px;
    top: 38px;
    transition: 0.5s;
    overflow-y: hidden;
    
}

//============================Login================================
#contenedorLogin{
    width: 100%;
    height: 100vh;
    display:grid;
    grid-template-rows: 300px 1fr 1fr;
    #contenedorTituloLogin{
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        background-image: $colorFondoGradienteEncabezado;
        font-family: $fuente;
        box-shadow: $colorSombras;
        #imgLogin{
            width: 150px;
            height: 150px;
            background-image: url("../img/Logo.svg");
            background-size: cover;
            margin: 20px auto;
        }
        #tituloLogin{
            margin:10px auto;
            color:white;
            text-align: center;
        }
        #imgUser{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            box-shadow: $colorSombras;
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            background-image: url("../img/user.jpg");
            background-size: cover;
            background-position: center;
            margin: 20px auto;
        }
    }
    #contenedorInputLogin{
        background-color: rgba(239, 239, 239, 0.459);
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
        justify-items: center;
        #inputLogin{
            color: #BFBDBD;
            align-self: end;
            width: 302px;
            height: 50px;
            margin: 20px auto;
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            border: 1px solid #0C6EEF;
            border-radius: 5px;
            padding-left: 5px;
            font-size: 20px;
            text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.185);
            box-shadow: $colorSombras;
        }
        #botonLogin{
            align-self: top;
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
            border: 1px solid #0C6EEF;
            border-radius: 5px;
            margin:10px;
        }
    }
}
// ============================================================================
.contenedorTarjetaAzul{
    width: 300px;
    height: 215px;
    background-image: linear-gradient(to right,#0109FC, #07F3EC);
    border-radius: 10px;
    filter: drop-shadow(1px 2px 5px rgba(39, 39, 39, 0.302));
    display: grid;
    grid-gap: 10px;
    margin: 10px;
}
/* ======================================================== */
.contenidoTarjetaAzul{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    color: white;
    font-family: Segoe UI;
    justify-self: center;
    justify-items: center;
    font-size:14px;
    .registroPrueba{
        width: 80px;
        background-color: rgba(255, 255, 255, 0.596);
        pointer-events: auto;
        border:0px;
        border-radius: 10px;
        
    }
    .noVisible{
        border:0px;
        background-color: transparent;
        pointer-events: none;
    }
    .visible{
        width: 80px;
        color: white;
        font-size:14px;
        border:0px;
        background-color: transparent;
        pointer-events: none;
    }
}
/* ======================================================== */
.hederTarjetaAzul{
    width: 300px;
    margin: 2px;
    display: grid;
    grid-gap: 5px;
    position: relative;
    grid-template-areas: "btnCheck titulo Img";
    justify-self: start;
    align-self: start;
    font-size:24px;
    padding-left:5px;
}
/* ======================================================== */
.textoTarjetaAzul{
    grid-area: titulo;
    color: white;
    font-family: Segoe UI;
}
/* ======================================================== */
.imgTarjetaAzul{
    grid-area: Img;
    align-self: center;
    justify-self: center;
    background-image: url("../img/user.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow:0px 3px 6px rgba(0, 0, 0, 0.451);
    margin-right: 10px;
    margin-top: 5px;
}
/* ======================================================== */
.TarjetaAzulBtnModificar_registrar{
    background-color: white;
    opacity: 70%;
    border: 0px;
    border-radius: 5px;  
    font-weight: bold;   
    font-family: Lato;
    color: #7F1AE1;
    font-size: 14px;
    width: 250px;
    height: 25px;
    margin: 10px;
}
/* ======================================================== */
#TarjetaAzulBotones, #TarjetaAzulBotonesDos, #TarjetaAzulBotonesTres{
    display: none;
    grid-template-columns: 1fr 1fr;
    .TarjetaAzulBtnGuardar{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        background-color: white;
        opacity: 70%;
        border: 0px;
        border-radius: 5px;  
        font-weight: bold;   
        font-family: Lato;
        color: #7F1AE1;
        font-size: 14px;
        width: 100px;
        height: 25px;
        margin: 10px;
        margin-left: 0px;;
    }
    .TarjetaAzulBtnCancelar{
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        float: left;
        background-color: white;
        opacity: 70%;
        border: 0px;
        border-radius: 5px;  
        font-weight: bold;   
        font-family: Lato;
        color: #7F1AE1;
        font-size: 14px;
        width: 100px;
        height: 25px;
        margin: 10px;
    }
}
/* ======================================================== */
.TarjetaAzul_round{
    grid-area: btnCheck;
}
/* ======================================================== */
.TarjetaAzul_round label {  
    position: absolute;
    background-color: #fff;
    opacity: 80%;
    border: 1.5px solid white;
    border-radius: 50%;
    cursor: pointer;
    height: 22px;
    width: 22px;
    left: 3px;
    top: 6px;
}
/* ======================================================== */
.TarjetaAzul_round label:after { 
    position: absolute;
    border: 4px solid blue;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    width: 12px;
    left: 3px;
    top: 5px;
    opacity: 0;
    transform: rotate(-45deg);
}
/* ======================================================== */
.TarjetaAzul_round input[type="checkbox"] {
    /* visibility: hidden; */
    display: none;
    pointer-events: none;
}
/* ======================================================== */
.TarjetaAzul_round input[type="checkbox"]:checked + label {
    background-color: white;
    border-color: white;
    pointer-events: none;
}
/* ======================================================== */
.TarjetaAzul_round input[type="checkbox"]:checked + label:after {
    opacity: 1;
    pointer-events: none;
}
/* ======================================================== */
#contenedorModal{
    position: fixed;
    top:450px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 0%;
    width: 100%;
    z-index: 20; /* Sit on top */
    left: 0px;
    top: 38px;
    transition: 0.5s;
    overflow-y: hidden;
    #fondoModal{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        z-index:20;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter:  blur(50px);
        -webkit-backdrop-filter:blur(50px);
    }
    .modal{
        z-index:21;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        width: 338px;
        height: 373px;
        box-shadow: $colorSombras;
        background-image: $colorGradienteTarjetas;
        backdrop-filter:  blur(50px);
        -webkit-backdrop-filter:blur(50px);
        color: rgba(255, 255, 255, 0);
        border: 0px;
        margin: 40px auto;
        text-align: center;
    }
    .textoModal{
        align-self:center;
        font-size: 18px;
        color: rgb(255, 255, 255);
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        font-family: $fuente;
        margin: 0px;
        text-align: center;
    }
    .eliminarBotonModal{
        display: block;
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        width: 95px;
        height: 31px;
        text-align: center;
        font-family: $fuente;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: red;
        background-color: #ff8b8b;
        -webkit-box-shadow: 0px 3px 6px rgba(80, 6, 6, 0.451);
        box-shadow: 0px 3px 6px rgba(80, 6, 6, 0.451);
        border-radius: 5px 5px 5px 5px;
        border:  0px;
    }
    .guardarBotonModal{
        display: block;
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        width: 95px;
        height: 31px;
        text-align: center;
        font-family: $fuente;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgb(38, 0, 255);
        background-color: #8baaff;
        -webkit-box-shadow: 0px 3px 6px rgba(6, 20, 80, 0.451);
        box-shadow: 0px 3px 6px rgba(6, 13, 80, 0.451);
        border-radius: 5px 5px 5px 5px;
        border:  0px;
        }
    .cancelarBotonModal{
        display: block;
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        color: rgba(238,0,0,1);
        width: 95px;
        height: 31px;
        background-color: rgba(255,255,255,0);
        border-radius: 5px 5px 5px 5px;
        border:  1px solid rgba(255,1,1,1);
        -webkit-box-shadow: 0px 3px 6px rgba(80, 6, 6, 0.451);
        box-shadow: 0px 3px 6px rgba(80, 6, 6, 0.451);
    }
    .OK{
        display: block;
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        font-size: 24px;
        font-weight: bold;
        color: rgb(0, 44, 238);
        width: 95px;
        height: 31px;
        background-color: rgba(255,255,255,0);
        margin: 0px auto;
        border:0px;
    }
}
/* ======================================================== */
@media screen and (min-width:640px){
    #contenedorPrincipal{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #divTarjetas{
        grid-column: 1 span 1;
        display: block;
        font-family: $fuente;
        box-shadow: $colorSombras;
        background-image: $colorGradienteTarjetas;
        backdrop-filter:  blur(50px);
        -webkit-backdrop-filter:blur(50px);
    }
    #divInfo{
        grid-column: 2 span 1;
        display: none;
        overflow-y: scroll;
    }
    #contenedorBuscador{
        position: relative;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        left: 0px;
    }
    .contenedorCentradoResponsivo{
        margin-top: 10px;
        width: 100%;
        align-content: start;
    }
    #tituloContenedor{
        margin-left: auto;
        margin-right: auto;
        min-width: 80%;
        width: 90%;
        max-width: 90%;
        padding: 2%;
    }
    .tarjetaBlanca{
        margin-left: auto;
        margin-right: auto;
        min-width: 80%;
        width: 90%;
        max-width: 90%;
        padding: 2%;
    }
    #elementosGridResponsivo{
        margin-left: auto;
        margin-right: auto;
        min-width: 80%;
        width: 90%;
        max-width: 90%;
        padding: 2%;
        padding-top: 0px;
    }
    .tarjetaElemento{
        .botonEditar{
            background-position: right;
        }

    }

}
/* ======================================================== */
@media screen and (min-width:800px){
    #desenfoque{
        background-image: linear-gradient(to right,#fbfbfb00,#3b3b3b00); ;
        backdrop-filter:  blur(50px);
        -webkit-backdrop-filter:blur(50px);
    }
    #contenedorPrincipal{
        display: grid;
        margin-top: 50px;
        grid-template-columns: 380px 1fr 380px;
        grid-template-rows: 1fr;

    }
    #divTarjetas{
        grid-column: 1 span 1;
        display: block;
        width: 100%;
        font-family: $fuente;
        box-shadow: $colorSombras;
        background-image: $colorGradienteTarjetas;
        backdrop-filter:  blur(5px);
        -webkit-backdrop-filter:blur(5px);
        overflow-y: visible;
    }
    #divInfo{
        margin-top: 10px;
        grid-column: 2 span 1;
        display: block;
        justify-self: stretch;
    }
    #divInfoElemento{
        display: block;
        font-family: $fuente;
        box-shadow: $colorSombras;
        background-image: $colorGradienteTarjetas;
        backdrop-filter:  blur(50px);
        -webkit-backdrop-filter:blur(50px);
        grid-column: 3 span 1;
        display: block;
        justify-self: stretch;

        .tituloElemento{
            align-self: flex-end;
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            height: 24px;
            width: 100%;
            height: 100%;
            margin: 0px;
            padding-left: 0px;
            color: white;
            font-size: 24px;
            align-self: center;
            justify-self: start;
        }
        .subtituloElemento{
            height: 100%;
            width: 100%;
            margin: 0px;
            padding-left: 10px;
            color: rgb(189, 189, 189);
            font-size: 12px;
        }
    }
    #tituloContenedor{
        background-image: $colorGradienteTarjetas ;
        backdrop-filter:  blur(50px);
        -webkit-backdrop-filter:blur(50px);
        #tituloImagen{
            justify-self: center;
            align-self: center;
            width: 400px;
            
            height: 280px;
            border-radius: 20px;
        }
    }
}